body {
    font-size: 16px;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    background-color: #141516;
    color: #d8d4cf;
    border-color: #736b5e;
}

header {
    margin: 0 0 16px 0;
}

.container {
    margin: 0.5em auto;
    padding: 0 1.75rem;
    max-width: 80ch;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0px;
}
