---
---
$background: #1a1a1a;

@import "{{ site.theme }}";

// a modification from the original thing, reduced down to what's actually changed
body {
    background: $background;
    overflow-wrap: break-word;
    hyphens: auto;
}

// don't introduce extra characters to the screen to prevent confusion
pre, code {
    hyphens: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0px;
}

header {
    background: inherit;
    margin: 0 0 16px 0;
}

header h1 {
    text-shadow: inherit;
}

header h2 {
    margin-bottom: 0px;
}

#main_content_2 {
    img { // used to be section img
        width: 100%
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 14px;
    }
    h5 {
        font-size: 12px;
        text-transform: uppercase;
        margin: 0 0 5px 0;
    }
    h6 {
        font-size: 12px;
        text-transform: uppercase;
        color: #999;
        margin: 0 0 5px 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: inherit;
}

ul {
    margin-top: 0;
    li {
        list-style-image:url('/assets/images/bullet.svg');
    }
}

.btn {
    text-shadow: inherit;
    box-shadow: inherit
}

.btn-github .icon {
    opacity: inherit;
    background: inherit;
}

a {
    text-shadow: inherit;
}

b, strong {
    /* it's actually quite difficult to see the boldness, so i imitated my
     * neovim */
    color: white;
}

/* extra stuff */

#a-title {
    text-decoration: none;
}

textarea, input, button {
    background: $background;
    color: $gallery;
}

form textarea {
    max-width: 100%;
    width: 100%;
}

abbr[title], u[title] {
    text-decoration: underline dotted;
}

.red {
    color: red;
}

/* dark reader css */

html, body, input, textarea, select, button {
    border-color: #736b5e;
    /*color: #e8e6e3;*/
    background-color: rgb(20, 21, 22);
    color: rgb(216, 212, 207);
}

/* some slightly global stuff */
#search_box {
    width: 100%;
    height: 2ch;
    font-size: 1.1rem;
}

/* usual other continued */
summary {
    cursor: pointer
}

/* plugin being stupid and not appending to existing attributes, must rely
 * on what's unusual instead or whatever */
[rel~="external"], a[target="_self"]{
    color: #ff6c00;
}

nav a {
    margin-right: 0.5rem;
}

.container {
    max-width: 768px; // everything EXCEPT opera mini supports ch values. so take 80ch on my system and do px
    max-width: 80ch;
    width: auto; // to whoever used 90% in jekyll-theme-hacker: i don't know what you were thinking, but it changes the sizes on resize of width.
    padding: 0 1.75rem; // keeps a nice *consistent* gap on sides
}

//{% if site.env.UPSIDE_DOWN_TITLE == "true" %}
.container #a-title h1 {
    transform: rotate(180deg);
    text-align: right;
    margin: 0;
}
//{% endif %}
