---
layout: bare
custom_nav: true
---
<article itemprop="articleBody" class="container" id="main_content_2">
    {% assign username = page.title %}
    <h2 id="name">{{ page.name }}</h2>
    <p id="username">{{ username }}</p>
    <img class="profile_picture" src="{{ page.image }}" />
    {{ content | default: 'they seem pretty quiet about themselves...' }}
    <div class="socials">
        <!-- TODO: link_* somehow, dynamic whatever and then capitalize the words or something somehow. -->
        {% if page.link_website %}<a target='_blank' rel='noopener noreferrer' href='{{ page.link_website }}' class='link'>website</a>{% endif %}
        {% if page.link_reddit %}<a target='_blank' rel='noopener noreferrer' href='{{ page.link_reddit }}' class='link'>reddit</a>{% endif %}
        {% if page.link_twitter %}<a target='_blank' rel='noopener noreferrer' href='{{ page.link_twitter }}' class='link'>twitter</a>{% endif %}
        {% if page.link_instagram %}<a target='_blank' rel='noopener noreferrer' href='{{ page.link_instagram }}' class='link'>instagram</a>{% endif %}
        {% if page.link_github %}<a target='_blank' rel='noopener noreferrer' href='{{ page.link_github }}' class='link'>github</a>{% endif %}
        {% if page.link_gitlab %}<a target='_blank' rel='noopener noreferrer' href='{{ page.link_gitlab }}' class='link'>gitlab</a>{% endif %}
        {% if page.link_youtube %}<a target='_blank' rel='noopener noreferrer' href='{{ page.link_youtube }}' class='link'>youtube</a>{% endif %}
        {% if page.link_mastodon %}<a href="{{ page.link_mastodon }}">mastodon</a>{% endif %}
    </div>
    <div id="posts">
        <p>Users posts:</p>
        {% assign users_posts = site.posts | where: "author", username %}
        {% capture markdownified %}
        {% include post_list.md posts_list=users_posts offset=0 limit=0 %}
        {% endcapture %}
        {{ markdownified | markdownify }}
    </div>
</article>
