---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <style>{{ "@import 'basic'" | scssify }}</style>
    <meta charset="utf-8" />
    <link rel="icon" href="data:,">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta http-equiv="onion-location" content="http://x7ikq7gwf6vnbvrc7b36nkcxnw7eckwaricmjbdvrajoeql2ccjb5aad.onion{{ page.url }}">
    <link rel="preload" href="{{ '/assets/css/style.css' | relative_url }}" as="style">
    <link rel="preload" href="{{ '/assets/images/bullet.svg' | relative_url }}" as="image">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" as="style">
    {% seo %}
</head>

<body>
    <header>
        <div class="container" id="main_content_2">
            <a href="/" id="a-title">
                <h1>jacksonchen666</h1>
            </a>
            <h3>the most random things in the least random way (maybe)</h3>
            <nav>
                <a href="/feeds/">RSS/feeds</a>
                <a href="/contact/">contacts/email</a>
                <a href="/misc/accounts/">accounts</a>
                <a href="/privacy/">privacy</a>
                <a href="https://git.sr.ht/~jacksonchen666/jacksonchen666.com/tree/{% if site.env.CI_COMMIT_SHA %}{{ site.env.CI_COMMIT_SHA }}{% else %}master{% endif %}/item/{{ page.path }}" title="website built on {% if site.env.CI_COMMIT_SHA %}{{ site.env.CI_COMMIT_SHA }}{% else %}????????????????????????????????????????{% endif %}">source</a>
                <a href="/mirrors/">mirrors</a>
                <strong><a href="/maintenance/">server status</a></strong>
                <a href="/misc/">misc</a>
            </nav>
        </div>
    </header>
    <main>
        {{ content }}
    </main>
    <hr>
    <footer class="container">
        <p>contents (text, images, audio, etc.) of website is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a> license <b>UNLESS OTHERWISE NOTED</b>.
        the source code for this website is under the MIT license.</p>
        <p>this website uses the <a href="https://reuse.software/spec/">REUSE specification</a> to declare the licenses. licensing declared in that format takes precedence all notices.</p>
        <a href="/privacy/">privacy policy</a>
    </footer>
</body>

</html>
