---
layout: bare
custom_nav: true
---
<link rel="alternate" type="application/rss+xml" href="{{ '/feeds/posts.xml' | relative_url }}" />
<div class="container" id="metadata">
    <h2 itemprop="title">{{ page.title }}</h2>
    <span itemprop="date"><time datetime="{{ page.date | date_to_xmlschema | strip_html }}">{{ page.date | date_to_xmlschema | strip_html }}</time> {% if page.last_modified_at %}(last updated <time datetime="{{ page.last_modified_at | date_to_xmlschema | strip_html }}">{{ page.last_modified_at | date_to_xmlschema | strip_html }}</time>){% endif %}</span> - written by {{ page.author }}
    <br>
    {% capture time %}{{ content | reading_time }}{% endcapture %}
    reading time (270 wpm): {{ time }} {% if time == '1' %}minute{% else %}minutes{% endif %}
    <br><br>
    <details><summary>additional metadata</summary>
    {% if page.categories.size != 0 %}categories: <span itemprop="categoryList">{{ page.categories | join: ', ' }}</span><br>{% endif %}
    {% if page.tags.size != 0 %}tags: <span itemprop="tagsList">{{ page.tags | join: ', ' }}</span><br>{% endif %}
    </details>
    <details><summary>table of contents</summary>
        {% toc %}
    </details>
</div>
<hr>
<article itemprop="articleBody" class="container" id="main_content_2">
    {{ content }}
</article>
<hr>
<div id="related_posts" class="container">
    {% capture more_posts %}{% if page.next != nil %}<h3>newer post</h3>
	{% include preview_post.md post=page.next %}{% endif %}
{% if page.previous != nil %}<h3>older post</h3>{% include preview_post.md post=page.previous %}{% endif %}{% endcapture %}
    {{ more_posts | markdownify }}
</div>
